Repository solana-playground/solana-playground, pull requests merged in 2024-08, with the labels that each got.

#265 chore: fix some comments
  client/craco.config.js
  client/src/frameworks/anchor/from.ts
  client/src/frameworks/native/from.ts
  client/src/routes/index.ts
  client/src/views/sidebar/test/Component/Instruction/Instruction.tsx
Labels: documentation

#267 Update tutorials.ts
  client/src/tutorials/tutorials.ts
Labels: tutorial

#273 Fix pubsub for the solana-client
  wasm/solana-client/src/pubsub.rs
  wasm/solana-client/src/request.rs
Labels: wasm

#274 Remove dependencies from the solana-client
  wasm/Cargo.lock
  wasm/solana-cli/src/commands/vote.rs
  wasm/solana-cli/src/commands/wallet.rs
  wasm/solana-cli/src/utils/blockhash_query.rs
  wasm/solana-cli/src/utils/mod.rs
  wasm/solana-client/Cargo.toml
  wasm/solana-client/src/utils/clap.rs
  wasm/solana-client/src/utils/mod.rs
  wasm/solana-client/src/utils/rpc_config.rs
  wasm/spl-token-cli/src/config.rs
  wasm/spl-token-cli/src/lib.rs
  wasm/spl-token-cli/src/utils.rs
  wasm/utils/solana-extra/Cargo.toml
  wasm/utils/solana-extra/src/lib.rs
Labels: wasm
